# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/

# Flask
instance/
*.db
*.sqlite3

# Environment variables
.env


ml/datasets/raw/*
!ml/datasets/raw/.gitkeep
ml/models/*.pkl
ml/models/*.keras
ml/models/*.h5
ml/models/*.json
# OS / Editor
.DS_Store
.vscode/
*.log